{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Password Reset Sent" %}{% endblock %}

{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                <h1 class="h3 mb-0 text-center">{% trans "Password Reset Sent" %}</h1>
            </div>
            <div class="card-body">
                {% if user.is_authenticated %}
                    {% include "account/snippets/already_logged_in.html" %}
                {% endif %}
                <p>{% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>
                <div class="text-center mt-3">
                    <a href="{% url 'account_login' %}" class="btn btn-secondary">Back to Login</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}