{% extends 'base.html' %} {# Inherit structure from base.html #}

{% block title %}Home - Invoice App{% endblock %} {# Override the title block #}

{% block content %} {# Fill the content block defined in base.html #}
  <div class="bg-light p-5 rounded mt-3"> {# Added Bootstrap jumbotron-like styling #}
      <h1>Welcome to the Invoicing Application</h1>

      {% if user.is_authenticated %}
          <p class="lead">You are logged in as {{ user.email }}.</p>
          <p>Use the navigation bar above to manage Quotations, Invoices, Clients, etc.</p>
          {# Link is in Navbar in base.html now #}
          {# <p><a href="{% url 'documents:quotation_list' %}">View Quotations</a></p> #}
      {% else %}
          <p class="lead">Please log in or sign up using the links in the navigation bar.</p>
      {% endif %}

       <p>(Further dashboard elements or summaries can go here later)</p>
   </div>

{% endblock %} {# End the content block #}